h2 {
    font-family: Lobster, Monospace;
}
form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    padding: 10px;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.644);
    border-radius: 10px;

}
html {
    height: 100%;
    display: block;
}
body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#dfe5f0, #539aeb);
}